# Exercise 04

* Task 1: At the supermarket (list methods)
* Task 2: At the ice cream shop (list/set/tuple methods)
* Tasks 3 & 4: `for` loops
* Tasks 5 & 6: `while` loops

***
## Task 1: At the supermarket


```python
shopping_list = ["onions", "milk", "bread", "butter", "rice", "vinger", "oil", "pineapple", "onions", "salt", "chicken", "parsley", "mint", "sugar", "onions"]
```

Above, we have defined a shopping list, and a snack list. Use list methods and the  operator to:
* add `"oranges"` to the shopping list
* add the `snacks` list to the shopping list (use `+` or `+=`, **not** `.append()`!)
* find out at which list position is the `"chicken"`
* remove `"butter"` from the shopping list (turns out we already have that at home)
* count how many times does `"onions"` appear on the list
* sort the shopping list alphabetically, and print it out
* make sure that every item appears only once by converting the list to a set, and saving it into the variable `shopping_set`.
* how many *unique* items are in our shopping set now?

**Solve Task 1**

In [ ]:
# define the variables "shopping_list" and "snacks" by running this cell
shopping_list = [
    "onions", "milk", "bread", "butter", "rice", "vinegar", 
    "oil", "pineapple", "onions", "salt", "chips", "rice", 
    "chicken", "parsley", "mint", "oil", "sugar", "onions"
    ]
snacks = ["chocolate", "ice cream", "chips"]

In [ ]:
# add oranges

In [ ]:
# add snacks

In [ ]:
# where is the chicken?

In [ ]:
# remove the butter

In [ ]:
# Count how many times "onions" is on the list

In [ ]:
# sort the list alphabetically, and print it out

In [ ]:
# convert into a shopping SET

In [ ]:
# number of unique items in a set = simply the length of the set

***
## Task 2 - At the ice cream shop

You are the owner of an ice cream shop. Your employee who sells the ice cream is a data science student! They decided to write down all ice cream orders of the day in Python. Use `list/set/tuple methods` to find out:
* How many ice creams have been sold today?
* How many **unique** ice creams have been sold today? 
> **Note**: the orders are saved as tuples - and for the sake of this exercise, we assume that for ice cream uniqueness, the order matters: `('yoghurt', 'mint')` is **not** the same as `('mint', 'yoghurt')`
* How many customers have ordered the same flavor twice? (e.g. `("banana", banana")`)
* Which was the most popular ice cream combination? (There are several ways of finding out. **Hint**: it has been sold five times!)
* How many different ice cream flavours have been sold today?

In [ ]:
# run this cell to define the icecream_sold variable
icecream_sold = [
    ('yoghurt', 'mint'), ('cookie', 'cookie'), ('caramel', 'yoghurt'), ('yoghurt', 'straciatella'), ('caramel', 'straciatella'),
    ('vanilla', 'yoghurt'), ('hazelnut', 'banana'), ('straciatella', 'straciatella'), ('cookie', 'cookie'), ('cookie', 'caramel'),
    ('banana', 'straciatella'), ('cheesecake', 'cookie'), ('chocolate', 'chocolate'), ('mint', 'hazelnut'), ('hazelnut', 'cheesecake'),
    ('caramel', 'vanilla'), ('yoghurt', 'mint'), ('cheesecake', 'vanilla'), ('chocolate', 'cookie'), ('mint', 'strawberry'), ('cookie', 'strawberry'),
    ('hazelnut', 'vanilla'), ('yoghurt', 'strawberry'), ('strawberry', 'chocolate'), ('cheesecake', 'cookie'), ('straciatella', 'vanilla'),
    ('caramel', 'banana'), ('mint', 'straciatella'), ('caramel', 'strawberry'), ('cookie', 'strawberry'), ('caramel', 'yoghurt'),
    ('strawberry', 'mint'), ('mint', 'hazelnut'), ('banana', 'hazelnut'), ('straciatella', 'banana'), ('mint', 'straciatella'),
    ('cheesecake', 'chocolate'), ('mint', 'yoghurt'), ('cookie', 'banana'), ('cheesecake', 'mint'), ('banana', 'straciatella'),
    ('mint', 'straciatella'), ('straciatella', 'straciatella'), ('cookie', 'mint'), ('cookie', 'straciatella'), ('banana', 'caramel'),
    ('mint', 'cheesecake'), ('chocolate', 'banana'), ('cheesecake', 'vanilla'), ('vanilla', 'yoghurt'), ('hazelnut', 'yoghurt'),
    ('hazelnut', 'cookie'), ('strawberry', 'cookie'), ('yoghurt', 'cheesecake'), ('cheesecake', 'banana'), ('vanilla', 'hazelnut'), 
    ('cookie', 'strawberry'), ('mint', 'straciatella'), ('cheesecake', 'vanilla'), ('cookie', 'strawberry'), ('cookie', 'strawberry')
]

In [ ]:
# How many ice creams have been sold today?

In [ ]:
# How many UNIQUE ice creams have been sold today?

In [ ]:
# How many customers have ordered the same flavour twice?

In [ ]:
# Which was the most popular ice cream combination? (if we already know that it has been sold exactly 5 times)

In [ ]:
# How many different ice cream flavours have been sold?

***
## Task 3

**(3a)** Write a function `count_A` that takes a string as an input and uses a `for` loop to count how many times the capital letter `A` appears in it. Test your function on the string `"THE CAPITAL OF MADAGASCAR IS ANTANANARIVO"` by asserting that it returns the expected number of letters.

**(3b)** Write a modified function, `count_Aa`, which counts both capitalized and small letters (`A` and `a`). Test your modified function on the string `"A change is as good as a rest"` by asserting that it returns the expected number of letters.

**Solve Task 3**

In [ ]:
# 3a
def count_A(input_string):
    raise NotImplementedError() # ERASE THIS LINE OF CODE
    # YOUR CODE HERE

In [ ]:
# check if you have implemented the function correctly with assert and the test string:
test_string = "THE CAPITAL OF MADAGASCAR IS ANTANANARIVO"

In [ ]:
# 3b
def count_Aa(input_string):
    raise NotImplementedError() # ERASE THIS LINE OF CODE
    # YOUR CODE HERE

In [ ]:
# check if you have implemented the function correctly with assert and the test string:
test_string = "A change is as good as a rest"

***
## Task 4

**(4a)** Use a `for` loop and the variable `my_sum` (initally set to 0) to calculate the sum of all numbers from 0 to 500.

**(4b)** Use a `for` loop and the variable `my_sum` (initally set to 0) to calculate the sum of all **even** numbers from 0 to 500.

**(4c)** Use a `for` loop and the variable `my_sum` (initally set to 0) to calculate the sum of all **divisible by 7** numbers from 0 to 500.

> **Hint:** Use the modulo operator `%` for (4b) and (4c)

**Solve Task 4**

In [1]:
# 4a: sum of numbers from 0 to 500

In [ ]:
# 4b: sum of all even numbers from 0 to 500
# same as above, but using a conditional and the modulo %:

In [ ]:
# 4b: alternative solution: we can also make range() take steps of 2:

In [ ]:
# 4c: same as above, but now with modulo 7 instead of modulo 2

*** 
## Task 5

Use a `while` loop and the assignment operator `+=` to calculate the sum of all numbers from 0 to 500. (Note: this is just a different way of solving task 2a).

> **Bonus:** Find an analytical expression to compute this sum with pen&paper.

**Solve Task 5**

In [ ]:
# task 5

In [ ]:
# altenative solution of task 5: make an "eternal" while loop, but break out of it when i becomes > 500

**Analytical expression for the sum:**

***
## Task 6

Use a `for` loop **or** a `while` loop to find out how many integers (0 + 1 + 2 +3 ... + n) you need to sum up to obtain 253. (There are many different ways to do this! If you find just 1, that's enough :) 

**Hints** Think about how and when to break out of the loop; think about how to make sure that at each loop iteration, we increase by 1 the number that we are adding to the sum.

> We can (but we don't have to...) write this task as an equation, that we want to solve for `n`:

$\sum_{i=0}^{n}{i}=253$

**Solve Task 6**

In [ ]:
# task 6

In [ ]:
# check with an analytical expression, as above in Task 5, if we coded everything correctly

***
## Task 7 - Find the bug


In the code below, somebody tried to remove all 2's from a list by looping through the list *indeces*, and removing the list *element* if its value is equal to 2. 
* Why does this not work? What is the hidden danger in this code?
* Correct the code so that it removes all numbers "2" from the list! (there are several ways to do this)

```python
my_list = [2, 1, 2, 3, 4, 5]
for i in range(len(my_list)):
     if my_list[i] == 2:
        my_list.remove(my_list[i])
print(my_list)
```

In [ ]:
# Find the bug in the code below!
my_list = [2, 1, 2, 3, 4, 5]
for i in range(len(my_list)):
    if my_list[i] == 2:
        my_list.remove(my_list[i])
print(my_list)